.container {
  max-width: 1000px;
  margin: 35px auto;
}

.tabs {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}